.footer{
    height: auto;
    background-color: $color-secundario;
}

.seguinos{
    @include flex (center, none, 10px,none);
    font-family: 'Roboto Slab', serif;
}

#redes-link{
    ul{
        @include flex (center, none, none,none);
        list-style-type:none;
        li{
            img{
                @include sizes(50px, 50px, 5px);
            }
        }
    }
}

.flecha {
    width: 40px;
    padding-bottom: 20px
}


.pie-pagina{
    @include flex(space-around,none,none,none);
}